[submodule "scripts/teensylibs_build_engine"]
	path = scripts/teensylibs_build_engine
	url = ssh://git@github.com/Blackaddr/teensylibs_build_engine.git
[submodule "libs/Wire"]
	path = libs/Wire
	url = https://github.com/PaulStoffregen/Wire.git
[submodule "libs/Audio"]
	path = libs/Audio
	url = https://github.com/PaulStoffregen/Audio.git
[submodule "libs/SPI"]
	path = libs/SPI
	url = https://github.com/PaulStoffregen/SPI.git
[submodule "libs/Encoder"]
	path = libs/Encoder
	url = https://github.com/PaulStoffregen/Encoder.git
[submodule "libs/Bounce2"]
	path = libs/Bounce2
	url = https://github.com/PaulStoffregen/Bounce2.git
