[submodule "libs/Wire"]
	path = libs/Wire
	url = https://github.com/PaulStoffregen/Wire.git
[submodule "libs/Audio"]
	path = libs/Audio
	url = https://github.com/PaulStoffregen/Audio.git
[submodule "libs/SPI"]
	path = libs/SPI
	url = https://github.com/PaulStoffregen/SPI
[submodule "libs/Encoder"]
	path = libs/Encoder
	url = https://github.com/PaulStoffregen/Encoder.git
[submodule "libs/cores"]
	path = libs/cores
	url = https://github.com/PaulStoffregen/cores.git
[submodule "libs/OpenAudio"]
	path = libs/OpenAudio
	url = https://github.com/chipaudette/OpenAudio_ArduinoLibrary.git
[submodule "libs/Adafruit-GFX-Library"]
	path = libs/Adafruit-GFX-Library
	url = ssh://git@github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libs/Adafruit_BusIO"]
	path = libs/Adafruit_BusIO
	url = ssh://git@github.com/adafruit/Adafruit_BusIO.git
[submodule "libs/Adafruit_SSD1306"]
	path = libs/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "libs/MIDI"]
	path = libs/MIDI
	url = https://github.com/PaulStoffregen/MIDI.git
[submodule "libs/TeensyThreads"]
	path = libs/TeensyThreads
	url = https://github.com/ftrias/TeensyThreads.git
[submodule "scripts/teensylibs_build_engine"]
	path = scripts/teensylibs_build_engine
	url = ssh://git@bitbucket.org/aviateaudio/teensylibs_build_engine.git
[submodule "libs/WDT_T4"]
	path = libs/WDT_T4
	url = https://github.com/tonton81/WDT_T4.git
[submodule "libs/EEPROM"]
	path = libs/EEPROM
	url = https://github.com/PaulStoffregen/EEPROM.git
[submodule "libs/Bounce2"]
	path = libs/Bounce2
	url = https://github.com/PaulStoffregen/Bounce2.git
[submodule "libs/Teensy-4.x-Quad-Encoder-Library"]
	path = libs/Teensy-4.x-Quad-Encoder-Library
	url = https://github.com/mjs513/Teensy-4.x-Quad-Encoder-Library.git
[submodule "libs/Adafruit_SH1106"]
	path = libs/Adafruit_SH1106
	url = git@github.com:AlgorhythmTechnologies/Adafruit_SH1106.git
